<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Resorts</title>
    <link rel="icon" type="image/png" href="/assets/images/resorts.png"/>
    <%# <link rel="icon" type="image/jpg" href="http://previews.123rf.com/images/istone_hun/istone_hun1301/istone_hun130100226/17222865-Extreme-snowboard-mask-logo-magazin-flyer-background--Stock-Photo.jpg"/>%>
    <% include ./partials/scripts %>
  </head>
  <body class="site">
    <% include ./partials/navbar %>
    <div class="flash-messages">
      <% for(const type in messages) { %>
        <div class="<%= type %>">
          <div>
            <h5><%= messages[type] %></h5>
          </div>
          <button type="button" name="button" class="close-message"></button>
        </div>
      <% } %>
    </div>
    <main class="site-content">
      <%- body %>
    </main>
    <% include ./partials/spreadsheets %>
    <footer>
      <a href="/about"><p class="logo1">About</p></a>
      <a href="https://github.com/RaidenDilan" target="_blank">
        <img src="../assets/images/github.png" type="image/png" alt="github" class="logo">
      </a>
      <a href="https://www.linkedin.com/in/raidendilan" target="_blank">
        <img src="../assets/images/linkedin.png" type="image/png" alt="github" class="logo">
      </a>
      <a href="mailto:raiden18@me.com" target="_blank">
        <img src="../assets/images/email.png" type="image/png" alt="github" class="logo">
      </a>
      <p>Designed &amp; Developed by Raiden Dilan &copy; General Assembly 2017</p>
    </footer>
  </body>
</html>
