<div class="video-wrapper">
  <video autoplay="true" controls="false" value="play" preload="auto" loop="true" id="homepage">
    <source src="/assets/videos/1.mp4" type="video/mp4">
  </video>
</div>

<%# <iframe src="/assets/videos/1.mp4" width="100px" height="200px"></iframe>%>
