<section>
  <h1>LOGIN</h1>
  <hr>
</section>
<div class="container">
  <form method="POST" action="/login">
    <div>
      <label for="email">Email</label>
      <input type="text" name="email" id="email" class="form-control" required>
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" class="form-control" required>
    </div>

    <button class="deletebuttons">Login</button>
  </form>
  <hr>
</div>
<div class="container">
  <div>
    <h5>Or login with</h5>
    <a href="<%= oauth.github.getLoginURL() %>"><button class="deletebuttons">Login with GitHub!</button></a>
    <%# <a href="#"><button class="deletebuttons">Github</button></a> %>
    <%# <a href="#"><button class="deletebuttons">Instagram</button></a>
    <a href="#"><button class="deletebuttons">Facebook</button></a>
    <a href="#"><button class="deletebuttons">Twitter</button></a> %>
  </div>
  <hr>
</div>
<div class="container">
  <div>
    <h5>Forgoten your password?</h5>
    <a href="#"><button class="deletebuttons">Reset password here</button></a>
  </div>
  <hr>
</div>
<div class="container">
  <div>
    <lable class="notregistered">Not registered?</lable>
    <a href="/register"><button class="deletebuttons">Register</button></a>
  </div>
</div>
